body, html {
    margin: 0;
    padding: 0;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
#splash {
    position: fixed; /* Ensures it stays in place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffff; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensures it appears above everything */
    transition: opacity 1s ease-out;
}

#splash img {
    width: 150px; /* Adjust size */
    height: auto;
}
#main-content {
    display: none;
    padding: 20px;
}
img{
    width: 100%
}
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  .btn{
    padding: 0.4px
  }
  .navimg {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav{
    justify-content: center;
  }
